body {
  text-align: center;
  /*background-color: rgba(16,	52,	99,	1);*/
  background-color: rgba(42,	54,	58,	1);
  color: white;
  font-family: 'Oxygen', sans-serif;
}

header {
  margin-top: 35px;
}

h1 {
  font-weight: bolder;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 150px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#divider-1 {
  margin: 100px 0 100px 0;
}

#instructions {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.steps {
  margin: 50px;
}

.edit-form {
  width: 75px;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
