body {
  text-align: center;
  color: grey;
  font-family: 'Oxygen', sans-serif;
}

header {
  margin-top: 35px;
}

h1 {
  font-weight: bolder;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 50px;
  margin-top: 10px;
}

.App-title {
  margin-top: 150px;
}

header {
  margin: 0;
}

#header-1 {
  height: 80%;
  width: 100%;
  left:0%;
  overflow: hidden;
  position: absolute;
  color: white;
}

#header-2 {
  margin-top: 80vh;
}

.App-intro {
  font-size: large;
}


#background-video{
  position: absolute;
  left: 0px;
  z-index: -1;
}

#instructions {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.steps {
  margin: 50px;
}

.edit-form {
  width: 75px;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
