body {
  text-align: center;
  /*font-family: 'Oxygen', sans-serif;*/
  font-family: 'Bree Serif', serif;
}

header {
  margin-top: 35px;
}

h1 {
  font-weight: bolder;
}

.Logo-text {
  margin: 15px 0 0 0;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 50px;
  margin-top: 7px;
  cursor: pointer;
}

.App-title {
  margin-top: 150px;
  font-weight: lighter;
}


header {
  margin: 0;
}

h3 {
  font-weight: lighter;
}

#header-1 {
  height: 85%;
  width: 100%;
  left:0%;
  overflow: hidden;
  position: absolute;
  color: rgba(255, 255, 255, .8);
}

#header-2 {
  margin-top: 90vh;
  height: 500px;
}

.App-intro {
  font-size: large;
}

#background-video{
  position: absolute;
  left: 0px;
  z-index: -1;
}

#instructions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgba(231,	94,	89,	1);
}

#instructions-title {
  margin-bottom: 50px;
  color: grey;
}

.steps {
  margin: 50px;
}

.edit-form {
  width: 75px;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
